[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
nikola = "==7.8.15"
webassets = "*"
"ghp-import2" = "*"

[dev-packages]

[requires]
python_version = "3.7"
